PORT=3000
IMNOTA_SHARE_PUBLIC_ORIGIN=https://app.imnota.xyz
IMNOTA_SHARE_DATA_DIR=/home/u644068606/.imnota-shares
IMNOTA_SHARE_TRUST_PROXY=loopback
# Optional defaults shown below:
# IMNOTA_SHARE_PAIRING_TTL_MS=600000
# IMNOTA_SHARE_RECEIPT_RECOVERY_MS=86400000
# IMNOTA_SHARE_DEFAULT_EXPIRY_DAYS=30
# IMNOTA_SHARE_MAX_EXPIRY_DAYS=30
# IMNOTA_SHARE_CLEANUP_GRACE_MS=86400000
# IMNOTA_SHARE_CLEANUP_INTERVAL_MS=3600000
# IMNOTA_SHARE_MAX_STORAGE_BYTES=2147483648
